<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>일정 관리 페이지</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/task.css}">
</head>
<body>
<header class="header">
  <h1>To Do</h1>
  <div class="user-info">
    <span th:text="${member.name}">회원 이름</span>님
    <a href="#" th:href="@{/member/info}" class="btn btn-info">정보</a>
    <form th:action="@{member/logout}" method="post" class="logout-form">
      <button type="submit" class="btn btn-logout">로그아웃</button>
    </form>
  </div>
</header>
<main>
  <div class="task-form">
    <form th:action="@{/task/new}" method="post" th:object="${task}">
      <input type="text" name="title" id="title" th:field="*{title}" placeholder="일정을 입력하세요" required>
      <input type="date" name="endDate" id="endDate" th:field="*{endDate}" required>
      <input type="time" name="endTime" id="endTime" th:field="*{endTime}" required>
      <button type="submit">추가하기</button>
    </form>
  </div>
  <div class="task-list">
    <table>
      <thead>
      <tr>
        <th>일정 제목</th>
        <th>마감 기한</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="task : ${tasks}">
        <td><a th:href="@{/task/info(id=${task.id})}" th:text="${task.title}"></a></td>
        <td th:text="${task.endDate} + ' ' + ${task.endTime}"></td>
        <td>
          <form id="delete_form" th:action="@{/task/delete(id=${task.id})}" method="post">
            <input type="hidden" name="_method" value="delete"/>
            <button type="button" onclick="confirmDelete()" class="btn btn-danger">삭제</button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</main>
<script src="/js/taskDelete.js"></script>
</body>
</html>

