<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>info</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<h1>수정 페이지</h1>
<form th:action="@{/member/edit}"  th:object="${member}" method="post" >
  <table class="table">
    <tbody>
    <tr>
      <td>이름</td>
      <td><input type="text" th:field="*{name}"></td>
    </tr>
    <tr>
      <td>ID</td>
      <td><input type="text" th:field="*{username}"></td>
    </tr>
    <tr>
      <td>비밀번호</td>
      <td><input type="text" th:field="*{password}"></td>
    </tr>
    </tbody>
    <button type="submit">수정 완료</button>
  </table>
</form>
<div>
  <a href="/member/info">취소</a>
</div>
</body>
</html>